<h2>Liste des personnes</h2>

<div *ngFor="let personne of personnes">
    {{personne | json}}
<button [routerLink]="['/personne-profil/',personne.id|json]">Profile</button>
<button (click)="deletePersonne($event)" value="{{personne.id}}">Delete</button>       
</div>