<div>
    <h4>Ajout d'une Personne</h4>
    <form (submit)="handleSubmit()">
        <label for="id" >Id : </label>
        <input type="number" name="id" [(ngModel)]="personne.id"><br>
        <label for="nom">Nom : </label>
        <input type="text" name="nom" [(ngModel)]="personne.nom"><br>
        <label for="prenom">Prenom : </label>
        <input type="text" name="prenom" [(ngModel)]="personne.prenom"><br>
        <label for="type">Type : </label>
        <input type="texte" name="type" [(ngModel)]="personne.type"><br>
        <label for="filiere">Filiere : </label>
        <input type="number" name="filiere" [(ngModel)]="personne.filiere_id"><br>
        <button type="submit">Enregistrer</button> 
    </form>
    <div>{{ personne | json }}</div>
</div>