<div>
    <h4>Ajout d'une Filiere</h4>
    <form (submit)="handleSubmit()">
        <input type="text"  [(ngModel)]="filiere.libelle" name="Libelle">Libelle
        <input type="text"  [(ngModel)]="filiere.id" name="id">id <!--id en autoincrément-->
        <button>Ajouter</button>
    </form>
</div>

<div>{{filiere | json }}</div>
