<ul>
    <li>
        <a [routerLink]="['/filiere']">Page Affichage Filiere</a> 
    </li>

    <li>
        <a [routerLink]="['/filiere-form']">Page Ajout Filiere</a> 
    </li>

    <li>
        <a [routerLink]="['/filiere-delete']">Page Delete Filiere</a> 
    </li>
</ul>


  <ul>
    <li>
        <a [routerLink]="['/personne']">Page Affichage Personne</a> 
    </li>

    <li>
        <a [routerLink]="['/personne-form']">Page Ajout Personne</a> 
    </li>

    
</ul>  


<router-outlet></router-outlet>
