<div>
    <h4>Ajout d'une Filiere</h4>
    <form  (submit)="handleSubmit()">

       Libelle <input type="text"  [(ngModel)]="filiere.libelle" name="libelle" />
     

       ID <input type="text" [(ngModel)]="filiere.id" name="id" /><!--id en autoincrément-->
        <button>Ajouter/Modifier</button>
    </form>
</div>

<div>{{filiere | json }}</div>