<select [(ngModel)]="selectedFiliereId">
    <option>Selectionner la filiere</option>
    <option *ngFor="let filiere of filieres">{{filiere.id}}</option>
</select>
<button (click)="handleClick()">supprimer</button>
